# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and OS
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# DBs
*.db
*.db-journal
