# Dependencias
node_modules/

# Build
dist/

# Variables de entorno
.env

# Base de datos SQLite
*.db
*.db-journal

# Prisma
prisma/migrations/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

/src/generated/prisma
